.navimage{
    padding-left: 1rem;
}

.navbar-nav .nav-item .nav-link {
    color: black;

}

.offcanvas{
    --offcanvas-width: #{$10px};
}



/*

.navbar:hover{
    background-color: black;
    transition: 1s;
}


.navbar:hover.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white; 
}

*/
