.navbar-custom {
    background-color: #100c3c;
    transition:0.3s;
}

@media only screen and (min-width: 987px) {
  .navbar-hover:hover{
    background-color: #100c3c;
    transition:0.3s;
  }
  
}

