
.contain {
  position: relative;
}

.overlay {
  position: absolute; 
  z-index: 5;
}


.heading{
  font-family: 'Libre Baskerville', serif;
}


@media only screen and (min-width: 992px)
{
    .carousel-inner {
      height: 600px;
  }
  
  .carousel-item, .carousel-item img {
      height: 600px;
    width:100%;
  }
  .mobileResponsiveHeading{
    margin-top: -15rem;
    }
    
    .mobileResponsiveParagraph{
    
    }
    
  
  } 


@media only screen and (min-width: 768px) and (max-width: 991px) {
    .carousel-inner {
      height: 500px;
  }
  
  .carousel-item, .carousel-item img {
      height: 500px;
    width:100%;
  }
  .mobileResponsiveHeading{
    margin-top: -15rem;
    }
    
    .mobileResponsiveParagraph{
    
    }
    
  
  } 
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 767px) {
      .carousel-inner {
      height: 400px;
  }
  
  .carousel-item, .carousel-item img {
      height: 400px;
    width:100%
  }
  .mobileResponsiveHeading{
    margin-top: -18rem !important;
    font-size:2rem !important;
    margin-left:0rem !important;
    }

    
  .mobileResponsiveParagraph{
    margin-top: -15.5rem !important;
    font-size:1rem !important;
    margin-left:0rem !important;
    }
    .formResponsive{
      margin-left:-1rem !important;
    }
    
  }
